<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

    <!--  Navigator  -->
    <nav th:replace="admin/_fragments :: menu(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui orange header item">Admin</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>Project</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>Category</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>Tag</a>

                <div class="right m-item m-mobile-hide menu">
                    <div class="ui dropdown item">
                        <div class="text">nieli9697</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">Log out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>

    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="ui right menu">
                <a href="#" th:href="@{/admin/categories/add}" class="item">Release</a>
                <a href="#" th:href="@{/admin/categories/}" class="active orange item">Listing</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <!--  Content  -->
    <div class="m-container-small m-padded-tb-large">
        <div class="ui container">

            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">Hi,</div>
                <p th:text="${message}"></p>
            </div>

            <table class="ui table">
                <thead>
                <tr>
                    <th></th>
                    <th>Community</th>
                    <th>Operation</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="category,iterStat : ${page.content}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${category.name}">Category 1</td>
                    <td>
                        <a href="#" th:href="@{/admin/categories/{id}/update(id=${category.id})}" class="ui mini basic orange button">Edit</a>
                        <a href="#" th:href="@{/admin/categories/{id}/delete(id=${category.id})}" class="ui mini basic orange button">Delete</a>
                    </td>
                </tr>
                </tbody>

                <tfoot>
                <tr>
                    <th colspan="5">
                        <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                            <a th:href="@{/admin/categories(page=${page.number}-1)}" th:unless="${page.first}" class="item">Previous</a>
                            <a th:href="@{/admin/categories(page=${page.number}+1)}" th:unless="${page.last}" class="item">Next</a>
                        </div>
                        <a href="#" th:href="@{/admin/categories/add}" class="ui mini right floated orange basic button">Add</a>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>
        $('.menu.toggle').click(function() {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('.ui.dropdown').dropdown({
            on : 'hover'
        });

        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
         });

    </script>
</body>
</html>