<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

    <!--  Navigator  -->
    <nav th:replace="_fragments :: menu(0)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui orange header item">Renting Apartments</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>Project</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>Communities</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>Floor Plans</a>

                <div class="right m-item m-mobile-hide menu">
                    <div class="ui dropdown item">
                        <div class="text">nieli9697</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" th:href="@{/admin/logout}" class="item">Log out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>

    </nav>

    <!--  Content  -->
    <div class="m-container-small m-padded-tb-large">
        <div class="ui container">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <div class="ui success message large">
                <h3>Hi,</h3>
                <p>you've successfully logged in!</p>
            </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>
        $('.menu.toggle').click(function() {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('.ui.dropdown').dropdown({
            on : 'hover'
        });

    </script>
</body>
</html>